FLASK_ENV=production
SECRET_KEY=change_this_to_a_secure_random_string
# Example Neon connection string
# DATABASE_URL=postgresql://user:password@ep-cool-project.aws.neon.tech/neondb?sslmode=require
# Example Supabase connection string (Use port 6543 for Transaction Pooler if in serverless, or 5432 for Session)
DATABASE_URL=postgresql://postgres:Sr180906Rs*S@db.kjoerkxfbetqxjeiyrrv.supabase.co:5432/postgres

# CORS Origin (Set to your Vercel URL in production)
FRONTEND_URL=http://localhost:5173
